.htmlpic1{
    width: 100%;
    border-radius: 50px;
}

.video1{

    
    display: inline-block;
    vertical-align: top;
    font-family: arial;
    margin-right: 18px;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    
    
    

}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
    padding-left: 15px;
    
    
}

@media (max-width:750px){
    .video-grid{
        grid-template-columns: 1fr 1fr ;
    }
}

body{
    margin: 0;
    padding-top: 95px;
    margin-left: 95px;

    
}

